<a href="https://colab.research.google.com/github/JafarunnishaShaik/Fraud-Transaction-Detection/blob/main/Fraud_Transaction_Detection_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
#loading the dataset to a pandas DataFrame
credit_card_data = pd.read_pickle('/content/2018-04-01.pkl')

In [5]:
#first 5 rows of the dataset
credit_card_data.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
0,0,2018-04-01 00:00:31,596,3156,57.16,31,0,0,0
1,1,2018-04-01 00:02:10,4961,3412,81.51,130,0,0,0
2,2,2018-04-01 00:07:56,2,1365,146.00,476,0,0,0
3,3,2018-04-01 00:09:29,4128,8737,64.49,569,0,0,0
4,4,2018-04-01 00:10:34,927,9906,50.99,634,0,0,0

In [6]:
credit_card_data.tail()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
9483,9483,2018-04-01 23:56:50,3289,6699,48.69,86210,0,0,0
9484,9484,2018-04-01 23:58:14,3230,6664,85.97,86294,0,0,0
9485,9485,2018-04-01 23:58:31,296,3702,120.88,86311,0,0,0
9486,9486,2018-04-01 23:59:28,2557,146,8.02,86368,0,0,0
9487,9487,2018-04-01 23:59:51,554,8248,19.20,86391,0,0,0

In [7]:
#data set informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9488 entries, 0 to 9487
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TRANSACTION_ID     9488 non-null   int64
 1   TX_DATETIME        9488 non-null   datetime64[ns]
 2   CUSTOMER_ID        9488 non-null   object
 3   TERMINAL_ID        9488 non-null   object
 4   TX_AMOUNT          9488 non-null   float64
 5   TX_TIME_SECONDS    9488 non-null   object
 6   TX_TIME_DAYS       9488 non-null   object
 7   TX_FRAUD           9488 non-null   int64
 8   TX_FRAUD_SCENARIO  9488 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 999.3+ KB

In [8]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

TRANSACTION_ID       0
TX_DATETIME          0
CUSTOMER_ID          0
TERMINAL_ID          0
TX_AMOUNT            0
TX_TIME_SECONDS      0
TX_TIME_DAYS         0
TX_FRAUD             0
TX_FRAUD_SCENARIO    0
dtype: int64

In [9]:
#distribution of legit transactions & fradulent transactions
credit_card_data['TX_FRAUD'].value_counts()

TX_FRAUD
0    9485
1       3
Name: count, dtype: int64

This data set highly unblanced

0----->Normal Transaction
1----->Fraudulent transaction

In [10]:
#Separating the data for analysis
legit = credit_card_data[credit_card_data.TX_FRAUD == 0]
fraud = credit_card_data[credit_card_data.TX_FRAUD == 1]

In [11]:
print(legit.shape)
print(fraud.shape)

(9485, 9)
(3, 9)

In [12]:
#satatical measures of the data
legit.TX_AMOUNT.describe()

count    9485.000000
mean       53.195756
std        39.392437
min         0.130000
25%        21.190000
50%        45.580000
75%        76.920000
max       218.120000
Name: TX_AMOUNT, dtype: float64

In [13]:
fraud.TX_AMOUNT.describe()

count      3.000000
mean     224.690000
std        2.161874
min      222.260000
25%      223.835000
50%      225.410000
75%      225.905000
max      226.400000
Name: TX_AMOUNT, dtype: float64

In [15]:
#compare the values for both transactions
credit_card_data.groupby('TX_FRAUD').mean()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD_SCENARIO
TX_FRAUD,,,,,,,,
0,4743.327570,2018-04-01 12:01:30.814022144,2504.123774,5008.162256,53.195756,43290.814022,0.0,0.0
1,5288.666667,2018-04-01 12:50:31.000000000,4447.666667,6070.333333,224.690000,46231.0,0.0,1.0

Build a sample dataset Containg similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transcations -->3

In [16]:
legit_sample = legit.sample(n=3)

Concatenating two DataFrames

In [18]:
new_dataset = pd.concat([legit_sample,fraud], axis = 0)

In [19]:
new_dataset.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
5433,5433,2018-04-01 12:58:18,3342,8289,38.81,46698,0,0,0
1849,1849,2018-04-01 07:28:57,1580,1450,12.73,26937,0,0,0
6304,6304,2018-04-01 14:19:28,3201,9532,10.48,51568,0,0,0
3527,3527,2018-04-01 10:17:43,3774,3059,225.41,37063,0,1,1
5790,5790,2018-04-01 13:31:48,4944,6050,222.26,48708,0,1,1

In [20]:
new_dataset.tail()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
1849,1849,2018-04-01 07:28:57,1580,1450,12.73,26937,0,0,0
6304,6304,2018-04-01 14:19:28,3201,9532,10.48,51568,0,0,0
3527,3527,2018-04-01 10:17:43,3774,3059,225.41,37063,0,1,1
5790,5790,2018-04-01 13:31:48,4944,6050,222.26,48708,0,1,1
6549,6549,2018-04-01 14:42:02,4625,9102,226.40,52922,0,1,1

In [22]:
new_dataset['TX_FRAUD'].value_counts()

TX_FRAUD
0    3
1    3
Name: count, dtype: int64

In [23]:
new_dataset.groupby('TX_FRAUD').mean()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD_SCENARIO
TX_FRAUD,,,,,,,,
0,4528.666667,2018-04-01 11:35:34.333333248,2707.666667,6423.666667,20.673333,41734.333333,0.0,0.0
1,5288.666667,2018-04-01 12:50:31.000000000,4447.666667,6070.333333,224.690000,46231.0,0.0,1.0

Spliting the data into Features & Targets

In [25]:
X = new_dataset.drop(columns='TX_FRAUD',axis=1)
Y = new_dataset['TX_FRAUD']

In [26]:
print(X)

      TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
5433            5433 2018-04-01 12:58:18        3342        8289      38.81
1849            1849 2018-04-01 07:28:57        1580        1450      12.73
6304            6304 2018-04-01 14:19:28        3201        9532      10.48
3527            3527 2018-04-01 10:17:43        3774        3059     225.41
5790            5790 2018-04-01 13:31:48        4944        6050     222.26
6549            6549 2018-04-01 14:42:02        4625        9102     226.40

     TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD_SCENARIO
5433           46698            0                  0
1849           26937            0                  0
6304           51568            0                  0
3527           37063            0                  1
5790           48708            0                  1
6549           52922            0                  1

In [27]:
print(Y)

5433    0
1849    0
6304    0
3527    1
5790    1
6549    1
Name: TX_FRAUD, dtype: int64

Split the data into Training Data and Testing Data

In [28]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,stratify=Y, random_state=2)

In [33]:
print(X.shape, X_train.shape, X_test.shape)

(6, 8) (4, 8) (2, 8)

Model Training

Logistic Regression

In [34]:
model = LogisticRegression()

In [36]:
print(X_train.dtypes)

TRANSACTION_ID                int64
TX_DATETIME          datetime64[ns]
CUSTOMER_ID                  object
TERMINAL_ID                  object
TX_AMOUNT                   float64
TX_TIME_SECONDS              object
TX_TIME_DAYS                 object
TX_FRAUD_SCENARIO             int64
dtype: object

In [40]:
from sklearn.preprocessing import LabelEncoder

# Combine train and test data for encoding
combined = pd.concat([X_train[['CUSTOMER_ID', 'TERMINAL_ID']], X_test[['CUSTOMER_ID', 'TERMINAL_ID']]])

# Fit the LabelEncoder on the combined data
le = LabelEncoder()

combined['CUSTOMER_ID'] = le.fit_transform(combined['CUSTOMER_ID'])
combined['TERMINAL_ID'] = le.fit_transform(combined['TERMINAL_ID'])

# Split back to train and test
X_train['CUSTOMER_ID'] = combined.iloc[:X_train.shape[0]]['CUSTOMER_ID']
X_test['CUSTOMER_ID'] = combined.iloc[X_train.shape[0]:]['CUSTOMER_ID']

X_train['TERMINAL_ID'] = combined.iloc[:X_train.shape[0]]['TERMINAL_ID']
X_test['TERMINAL_ID'] = combined.iloc[X_train.shape[0]:]['TERMINAL_ID']

In [41]:
from sklearn.preprocessing import OrdinalEncoder

# Initialize OrdinalEncoder with handle_unknown='use_encoded_value' and unknown_value=-1
encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

# Apply the encoder to both training and test sets
X_train[['CUSTOMER_ID', 'TERMINAL_ID']] = encoder.fit_transform(X_train[['CUSTOMER_ID', 'TERMINAL_ID']])
X_test[['CUSTOMER_ID', 'TERMINAL_ID']] = encoder.transform(X_test[['CUSTOMER_ID', 'TERMINAL_ID']])

In [46]:
#training the logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evalution

Accuracy Score

In [47]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [48]:
print('Accuracy on Training data:', training_data_accuracy)

Accuracy on Training data: 0.5

In [49]:
#accuracy on text data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [50]:
print('Accuracy score on Test Data:',test_data_accuracy)

Accuracy score on Test Data: 0.5